<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title required %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/base.css">
        <script src="/js/settings.js"></script>
        {% endblock %}
    </head>
    <body onload="loadSettings()">
        <header class="width-limiter">
            <!-- For some reason you need .nowrap on these two or it will be in two lines for a moment when loading a page -->
            <div id="header-left" class="nowrap">
                <div id="header-logo">
                    <a href="/" class="a-reset">derivativeoflog7</a>
                </div>
                <nav id="header-nav" class="nowrap">
                    <a class="{% block projects_nav_class %}{% endblock %} a-reset" href="/projects/">Projects</a>
                    <a class="{% block blog_nav_class %}{% endblock %} a-reset" href="/blog/">Blog</a>
                    <a class="{% block about_nav_class %}{% endblock %} a-reset" href="/about/">About</a>
                </nav>
            </div>
            <div id="header-buttons">
                <noscript><div>
                        <input type="checkbox" name="noscript-dialog" id="noscript-dialog-checkbox">
                        <label for="noscript-dialog-checkbox" id="noscript-dialog-label" class="material-symbols-outlined">warning</label>
                </div></noscript>
                <div id="wide-toggle">
                    <input type="checkbox" name="wide" id="wide-checkbox" onchange="saveSettings()">
                    <label for="wide-checkbox" id="wide-unchecked-label" class="material-symbols-outlined" title="Toggle page width">fit_page_width</label>
                    <label for="wide-checkbox" id="wide-checked-label" class="material-symbols-outlined" title="Toggle page width">width_normal</label>
                </div>
                <div id="color-scheme-toggle">
                    <input type="radio" name="color-scheme" id="color-scheme-light-radio" value="light" onclick="saveSettings()" >
                    <input type="radio" name="color-scheme" id="color-scheme-auto-radio" value="auto" onclick="saveSettings()" checked>
                    <input type="radio" name="color-scheme" id="color-scheme-dark-radio" value="dark" onclick="saveSettings()">
                    <label for="color-scheme-light-radio" id="color-scheme-light-label" class="material-symbols-outlined" title="Force color scheme to white">light_mode</label>
                    <label for="color-scheme-auto-radio" id="color-scheme-auto-label" class="material-symbols-outlined" title="Set color scheme to auto">invert_colors</label>
                    <label for="color-scheme-dark-radio" id="color-scheme-dark-label" class="material-symbols-outlined" title="Force color scheme to dark">dark_mode</label>
                </div>
            </div>
        </header>
        <hr>
        <noscript>
            <div id="noscript-dialog-div">
                JavaScript is disabled, as such the site will not be able to save the page width and color scheme preferences and have them persist across pages. <br>
                Note that JavaScript is not used for anything else on this website.
                <label for="noscript-dialog-checkbox" class="button">Close</label>
            </div>
        </noscript>
        <main class="width-limiter">
            {% block content required%}{% endblock %}
        </main>
    </body>
</html>