{% extends "_partials/base.html" %}
{% block title %}My projects - derivativeoflog7{% endblock %}
{% block content %}
{% for entry in project_entries %}
    <article class="project-entry">
        <span>
            <div>
                <h1>
                    {{ entry["title"] }}
                    {% for badge in entry["compatibility_badges"] %}
                    <img src="{{ badge["image_src"] }}" alt="{{ badge["name"] }}"" title="{{ badge["name"] }}" class="compatibility-badge">
                    {% endfor %}
                </h1>
            </div>
        </span>
        {{ entry["html"] }}
        {% if entry["github_link"] %}
        <a href="{{ entry["github_link"] }}" class="button a-reset" target="_blank" rel="noopener noreferrer">
            <span>Source code and download</span>
        </a>
        {% endif %}
        {% if entry["gbatemp_link"] %}
        <a href="{{ entry["gbatemp_link"] }}" class="button a-reset" target="_blank" rel="noopener noreferrer">
            <span>GBAtemp thread</span>
        </a>
        {% endif %}
        {% if entry["youtube_link"] %}
        <a href="{{ entry["youtube_link"] }}" class="button a-reset" target="_blank" rel="noopener noreferrer">
            <span>Showcase video</span>
        </a>
        {% endif %}
        
    </article>
{% endfor %}
{% endblock %}