:root {
    --width-limit: 45rem;
    /* LIGHT MODE (default) */
    --background-color: white;
    --color: black;
    --noscript-warning-color: darkred;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

/* Page width button */
#wide-checked-label {
    display: none;
}

:root:has(#wide-checkbox:checked) {
    --width-limit: initial;

    #wide-checked-label {
        display: initial;
    }

    #wide-unchecked-label {
        display: none;
    }
}

/* Color scheme buttom */
@media (prefers-color-scheme: dark) {
    #dark-mode-label {
        display: none;
    }

    :root:has(#invert-color-scheme-checkbox:checked) {
        #dark-mode-label {
            display: initial;
        }
        #light-mode-label {
            display: none;
        }
        /* LIGHT MODE */
        --background-color: white;
        --color: black;
        --noscript-warning-color: darkred;
    }
    
    :root {
        /* DARK MODE */
        --background-color: #212327; /* Stolen from Google */
        --color: lightgray;
        --noscript-warning-color: red;
    }
}

@media (prefers-color-scheme: light) {
    #light-mode-label {
        display: none;
    }

    :root:has(#invert-color-scheme-checkbox:checked) {
        #light-mode-label {
            display: initial;
        }
        #dark-mode-label {
            display: none;
        }

        /* DARK MODE */
        --background-color: #212327; /* Stolen from Google */
        --color: lightgray;
        --noscript-warning-color: red;
    }
}

/* Noscript warning button and dialog */
#noscript-dialog-label {
    color: var(--noscript-warning-color);
}

#noscript-dialog-div {
    display: none; /* Overridden by checkbox */
    /* The following 5 are for centering */
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    text-align: justify;
    max-width: 30em;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
    background-color: var(--background-color); /* Better way to do this? */
}

#noscript-dialog-div label {
    margin: auto;
    text-align: center;
    display: block;
    width: fit-content;
    padding: 3px;
}

:root:has(#noscript-dialog-checkbox:checked) {
    #noscript-dialog-div {
        display: initial;
    }
}

/* Make buttons in header unselectable */
#header-buttons {
    user-select: none;
}

@media (max-width: calc(45rem + 16px)) { /* Take body's margin into account (hopefully it's universal)*/
    #width-toggle {
        display: none !important;
    }    
}

/* All below are misc */
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

header input {
    display: none;
}

#header-logo {
    font-size: 140%;
}

#header-nav > a {
    margin: auto 5px;
}

#header-nav > a.current {
    text-decoration: underline black dashed;
}

#header-left > * {
    display: inline;
}

#header-buttons > div {
    display: inline;
}

h1 {
    font-weight: normal;
}

.title-container > * {
    vertical-align: middle;
}

.project-entry {
    margin-bottom: 1em;
}

.project-entry h1 {
    margin-bottom: 0;
    display: inline;
}

.project-entry p, .project-entry ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.project-entry .button{
    font-size: 1.1em;
    padding: 0.2em;
    margin-bottom: 0.2em;
}

.compatibility-badge {
    width: auto;
    height: auto;
    max-width: 2.5em;
    max-height: 2.5em;
    vertical-align: middle;
}

.button {
    border: 1px solid var(--color);
    border-radius: 5px;
    display: inline-block;
}

.a-reset, .a-reset * { /* Also applies to children!*/
    color: unset;
    text-decoration: unset;
}

.width-limiter {
    max-width: var(--width-limit);
    margin: auto;
}

.nowrap {
    white-space: nowrap;
}

.inline {
    display: inline;
}
