:root {
    --width-limit: 45rem;
}

/* Dark mode testing, temporary */
#dark-mode-dummy {
    display: none;
    background-color: red;
}

@media (prefers-color-scheme: dark) {
    #dark-mode-dummy {
        display:initial;
    }
}

/* Page width button */
#wide-checked-label {
    display: none;
}

:root:has(#wide-checkbox:checked) {
    --width-limit: initial;

    #wide-checked-label {
        display: initial;
    }

    #wide-unchecked-label {
        display: none;
    }
}

/* Color scheme buttom */
@media (prefers-color-scheme: dark) {
    #dark-mode-label {
        display: none;
    }

    :root:has(#invert-color-scheme-checkbox:checked) {
        #dark-mode-label {
            display: initial;
        }
        #light-mode-label {
            display: none;
        }
    }
}

@media (prefers-color-scheme: light) {
    #light-mode-label {
        display: none;
    }

    :root:has(#invert-color-scheme-checkbox:checked) {
        #light-mode-label {
            display: initial;
        }
        #dark-mode-label {
            display: none;
        }
    }
}

/* Noscript warning button and dialog */
#noscript-dialog-div {
    display: none; /* Overridden by checkbox */
    /* The following 5 are for centering */
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    text-align: justify;
    max-width: 30em;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
    background-color: white; /* Better way to do this? */
}

#noscript-dialog-div label {
    margin: auto;
    text-align: center;
    display: block;
    width: fit-content;
    padding: 3px;
}

:root:has(#noscript-dialog-checkbox:checked) {
    #noscript-dialog-div {
        display: initial;
    }
}

/* Make buttons in header unselectable */
#header-buttons {
    user-select: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

/*Don't make links in header blue and underlined*/
header a {
    color: unset;
    text-decoration: unset;
}

header input {
    display: none;
}

#header-logo {
    font-size: 140%;
}

#header-nav > a {
    margin: auto 5px;
}

#header-nav > a.current {
    text-decoration: underline black dashed;
}

#header-left > * {
    display: inline;
}

h1 {
    font-weight: normal;
}

.title-container > * {
    vertical-align: middle;
}

.project-entry {
    margin-bottom: 1em;
}

.project-entry h1 {
    margin-bottom: 0;
    display: inline;
}

.project-entry p, .project-entry ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.project-entry .button{
    font-size: 1.2em;
    padding: 0.3em;
    margin-bottom: 0.2em;
}

.compatibility-badge {
    width: auto;
    height: auto;
    max-width: 2.5em;
    max-height: 2.5em;
    vertical-align: middle;
}

.button {
    border: 1px solid black;
    border-radius: 0.1em;
    display: inline-block;
}

.a-reset {
    color: unset;
    text-decoration: unset;
}

.width-limiter {
    max-width: var(--width-limit);
    margin: auto;
}

.nowrap {
    white-space: nowrap;
}

.inline {
    display: inline;
}
