body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    gap: 20px;
    align-items: center;
}

/*Don't make links in header blue and underlined*/
header a {
    color: unset;
    text-decoration: unset;
}

#header-logo {
    font-size: 140%;
}

#header-nav > a {
    margin: auto 5px;
}

#header-nav > a.current {
    text-decoration: underline black dashed;
}

.project-entry h1 {
    margin-bottom: 0;
}

.project-entry p, .project-entry ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.project-entry .button{
    font-size: 1.2em;
    padding-right: 0.3em;
}

.project-entry .button img {
    width: 100%;
    height: 100%;
    max-width: 1.2em;
    max-height: 1.2em;
    margin: 0.3em;
    vertical-align: middle;
}

.project-entry .button span {
    vertical-align: -0.15em;
}

.compatibility-badge {
    width: auto;
    height: auto;
    max-width: 1.5em;
    max-height: 1.5em;
    vertical-align: middle;
}

.button {
    border: 1px solid black;
    border-radius: 0.1em;
    display: inline-block;
}

.a-reset {
    color: unset;
    text-decoration: unset;
}