:root {
    --width-limit: 45rem;
}

:root:has(#wide-checkbox:checked) {
    --width-limit: initial;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

/*Don't make links in header blue and underlined*/
header a {
    color: unset;
    text-decoration: unset;
}

#header-logo {
    font-size: 140%;
}

#header-nav > a {
    margin: auto 5px;
}

#header-nav > a.current {
    text-decoration: underline black dashed;
}

#header-left > * {
    display: inline;
}

h1 {
    font-weight: normal;
}

.title-container > * {
    vertical-align: middle;
}

.project-entry {
    margin-bottom: 1em;
}

.project-entry h1 {
    margin-bottom: 0;
    display: inline;
}

.project-entry p, .project-entry ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.project-entry .button{
    font-size: 1.2em;
    padding: 0.3em;
    margin-bottom: 0.2em;
}

.compatibility-badge {
    width: auto;
    height: auto;
    max-width: 2.5em;
    max-height: 2.5em;
    vertical-align: middle;
}

.button {
    border: 1px solid black;
    border-radius: 0.1em;
    display: inline-block;
}

.a-reset {
    color: unset;
    text-decoration: unset;
}

.width-limiter {
    max-width: var(--width-limit);
    margin: auto;
}

.nowrap {
    white-space: nowrap;
}

.inline {
    display: inline;
}
