
/*
     FILE ARCHIVED ON 16:14:15 Jun 24, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:18:28 Jun 25, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 91.115
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.073
  RedisCDXSource: 30.791
  esindex: 0.008
  LoadShardBlock: 42.895 (3)
  PetaboxLoader3.datanode: 57.646 (5)
  load_resource: 199.52 (2)
  PetaboxLoader3.resolve: 125.22 (2)
*/