{% extends "_partials/base.html" %}
{% block title %}derivativeoflog7's website{% endblock %}
{% block content %}
<p>
    Welcome to my website! <br>
    There's not much here for now, so here's some reduntant links: <br>
    <a href="/projects">My projects</a> <br>
    <a href="/blog">Blog</a> where I'll sometimes write about random stuff I've done, mostly to serve as pseudo-guides<br>
    <a href="/about">About me</a> <br>
 </p>
<p>
    Fun fact: the color scheme and page width toggles on the top right are implemented purely in HTML/CSS, meaning they'll also work with JavaScript disabled! <br>
    The only thing that does require JavaScript is saving the settings, which includes having them persist when navigating.
</p>
{% endblock %}